@model IEnumerable<CloudConcerts3.Models.GigViewModel>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Apply";
}

<h2>Apply</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Host", "Apply", new { sortOrder = ViewBag.HostSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Concert Name", "Apply", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Start Time", "Apply", new { sortOrder = ViewBag.TimeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.ActionLink("Compensation", "Apply", new { sortOrder = ViewBag.CompSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Public Event?", "Apply", new { sortOrder = ViewBag.PublicSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HostID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compensation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPublic)
            </td>
            <td>
                @if (item.hasUserApplied)
                {
                    <button class="btn btn-success disabled">Applied!</button>
                }
                else
                {
                    @Html.ActionLink(" Apply ", "ApplyForGig", new { id = item.GigID, sortOrder = ViewBag.sortOrder, currentFilter = ViewBag.CurrentFilter }, new { @class = "btn btn-primary" })
                }
            </td>
        </tr>
    }

</table>
