@model CloudConcerts3.Models.Gig

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gig</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compensation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compensation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Host.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Host.VenueName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GigID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
