@model CloudConcerts3.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign Up";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    /*  Select the type of user  */
    <div class="form-group">
        @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Type, new { @id = "user_music_type", @class = "form-control", style = "display: none;" })

        <div class="btn-group col-md-10">
            <button id="music_enthu_type" name="MusicType" type="button" class="btn btn-info" data-toggle="dropdown"> - Please Select One - </button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a onclick="chooseArtist()">Artist</a></li>
                <li><a onclick="chooseHost()">Host</a></li>
                <li><a onclick="chooseListener()">Listener</a></li>
            </ul>
        </div>
    </div>

    /*  Render different partial views based on which type is picked in dropdown  */
    <div id="artist_register" style="display:none;">
        @Html.Partial("~/Views/RegisterPartials/_ArtistRegisterPartial.cshtml")
    </div>
    <div id="host_register" style="display:none;">
        @Html.Partial("~/Views/RegisterPartials/_HostRegisterPartial.cshtml")
    </div>
    <div id="listener_register" style="display:none;">
        @Html.Partial("~/Views/RegisterPartials/_ListenerRegisterPartial.cshtml")
    </div>
    <hr />

    /*  Every type of user will have an email and password field  */
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" value="Sign Up" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
