@model IEnumerable<CloudConcerts3.Models.Artist>

@{
    ViewBag.Title = "Artists";
}

<h2>Artists</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th>
            @Html.ActionLink("Stage Name", "Artists", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.ActionLink("Genre", "Artists", new { sortOrder = ViewBag.GenreSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.ImageURL != null)
            {
                <img src="@item.ImageURL" title="@item.ImageURL" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
    </tr>
}

</table>
