@model CloudConcerts3.Models.ApplicationUser
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<hr />
@{

    if (Model is CloudConcerts3.Models.Host)
    {
        @Html.Partial("~/Views/ProfilePartials/_HostProfile.cshtml")
    }
    else if (Model is CloudConcerts3.Models.Artist)
    {
        @Html.Partial("~/Views/ProfilePartials/_ArtistProfile.cshtml")
    }
    else if (Model is CloudConcerts3.Models.Listener)
    {
        @Html.Partial("~/Views/ProfilePartials/_ListenerProfile.cshtml")
    }
    else
    {
        <p>We love music!</p>
    }

}
