@model CloudConcerts3.Models.ApplicationUser
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Cloud Concerts</h1>
    <p class="lead">Cloud Concerts helps venues find artists and helps listeners find concerts.</p>

    @if (User.IsInRole("admin"))
    {
        <p>Logged in as an ADMIN</p>
    }
    else if (Model is CloudConcerts3.Models.Host)
    {
        @*Add a link for "artists" here*@
        <p>Do you have an upcoming event and need a performer?</p>
        <p>
            <a href="@Url.Action("Create", "Gigs")" class="btn btn-primary btn-lg">Create a gig &raquo;</a>
            <a href="@Url.Action("Index", "Gigs")" class="btn btn-primary btn-lg">View my gigs &raquo;</a>
        </p>
    }
    else if (Model is CloudConcerts3.Models.Artist)
    {
        <p>Logged in as an ARTIST</p>
        @*Add a link for "hosts/gigs" here
            <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Sign Up Today &raquo;</a></p>*@
    }
    else if (Model is CloudConcerts3.Models.Listener)
    {
        <p>Logged in as a LISTENER</p>
        @*Add a link for "concerts" here
            <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Sign Up Today &raquo;</a></p>*@
    }
    else
    {
        <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Sign Up Today &raquo;</a></p>
    }

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Looking for artists?</h2>
        <p>You can find performers and bands for your next gig!</p>
        <p><a class="btn btn-default" href="@Url.Action("Artists", "Browse")">Find Artists &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Looking for concerts?</h2>
        <p>You can find concerts that are happening in your area!</p>
        <p><a class="btn btn-default" href="@Url.Action("Concerts", "Browse")">Find Concerts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Looking for venues?</h2>
        <p>You can find venues that regularly have concerts!</p>
        <p><a class="btn btn-default" href="@Url.Action("Hosts", "Browse")">Find Venues &raquo;</a></p>
    </div>
</div>
