@model CloudConcerts3.Models.GigGenre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GigGenre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gig.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gig.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GigGenreID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
