@model IEnumerable<CloudConcerts3.Models.ArtistGig>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist.StageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gig.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artist.StageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gig.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtistGigID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtistGigID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtistGigID })
        </td>
    </tr>
}

</table>
