@model CloudConcerts3.Models.ListenerArtist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ListenerArtist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist.StageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.StageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listener.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listener.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ListenerArtistID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
